/* Inspiration from http://www.cssflow.com/snippets/login-form/demo/scss */
body {
    font-family: Tahoma, Verdana, sans-serif;
    background: #0ca3d2;
    font-size: 14px;
    color: #cce7fa;
    text-align: center;
}
a {
    text-decoration:none;
}
.container {
    margin:auto;
    width:640px;
}

.container .login {
    position: relative;
    margin: auto;
    padding: 20px 20px 20px;
	color: red;
    width: 310px;
    background: white;
    border-radius: 3px;
}

.container .login h2 {
    margin: -20px -20px -20px;
    line-height: 40px;
    font-size:   15px;
    font-weight: bold;
    color:      #555;
    text-align: center;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
} 

.container .login p {
    margin: 20px 0 0;
}

.not-registered {
    margin: 20px 0 0;
    font-size: 11px;
}

.container a {
    text-decoration:none;
}

.container a:hover{
    text-decoration:underline;
}

input {
      font-family: Tahoma, Verdana, sans-serif;
      font-size: 14px;
}


input#username,input#password,input#join-game, input#message {
    padding: 0 5px;
    width: 90%;
    height: 34px;
    color: #404040;
    background: white;
    border: 1px solid;
    border-radius : 2px;
}

input#username{
    margin-top:25px;
}

input#password{
    margin:auto;
}

input#submit{
    padding: 0 18px;
    height: 29px;
    font-size:12px;
    font-weight:bold;
}

.container #after-password2 {
    margin: 5px 0 0;
}

.navbar {
    text-align: right;
    padding-bottom: 10px;
    border-bottom: solid #cce7fa 1px;
}

.navbar a {
    padding: 10px 15px;
    margin: 1px;
    block: inline;
    background: #4479BA;
    text-decoration: none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -user-select:none;
    cursor: pointer;
}


.navbar a:hover, .navbar a:focus { 
    background: #356094;
}

.navbar div#u_info{
    block:inline;
}

.game-accordion {
    margin:auto;
    margin-top: 50px;
    width:300px;
    position: relative;
    border-radius: 3px;
} 
.game-accordion h2{
    line-height: 40px;
    font-size:   15px;
    font-weight: bold;
    color:      #555;
    text-align: center;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
} 

.game-accordion section {
    float: left;
    cursor: pointer;
    margin: 3px;
    width: 100%;
    border-radius: 3px;
    background: white;
    -webkit-transition:height 0.2s ease;
}

.game-accordion section#joinopen{
    height: 180px;
}

.game-accordion section#joinclosed, .game-accordion section#create{
    height: 37px;
    margin-bottom: 5px;
}
.game-accordion section#joinclosed h2,.game-accordion section#create h2{
    border-radius: 3px;
}

.game-accordion section#joinclosed form{
   opacity: 0; 
}

.game-accordion section#joinopen form{
   opacity: 1; 
}

.game-accordion section h2{
    position: relative;
    left: 0;
    top: -15px;
    border-radius: 3px 3px 0 0;
}


.game-accordion section#create h2{
    border-radius:3px;
}
