/* Thanks to http://www.cssflow.com/snippets/login-form/demo/scss */
body
{
    font-family:Tahoma, Verdana, sans-serif;
    color: #404040;
    background: #0ca3d2;
}

.container {
    margin:auto;
    width:640px;
}

.login {
    position: relative;
    margin: auto;
    padding: 20px 20px 20px;
	color: red;
    width: 310px;
    background: white;
    border-radius: 3px;
}

.login h2 {
    margin: -20px -20px -20px;
    line-height: 40px;
    font-size:   15px;
    font-weight: bold;
    color:      #555;
    text-align: center;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
} 

.login p {
    margin: 20px 0 0;
}

.not-registered {
    margin: 20px 0 0;
    font-size: 11px;
    color: white;
    text-align: center;
}
.not-registered a{
    color: #cce7fa;
    text-decoration:none;
}
.not-registered a:hover{
    text-decoration:underline;
}
input {
      font-family: Tahoma, Verdana, sans-serif;
      font-size: 14px;
}

input#username, input#password {
    margin: 10px 0 0;
    padding: 0 5px;
    width: 90%;
    height: 34px;
    color: #404040;
    background: white;
    border: 1px solid;
    border-radius : 2px;
}

input#submit{
    padding: 0 18px;
    height: 29px;
    font-size:12px;
    font-weight:bold;
}
