#chat {
    width:300px;
    height:100%;
    position:absolute; 
    display: inline;
    right: 0;
    top: 0;
}

.display {
    font-family: Tahoma, Verdana, sans-serif;
    padding:5px 10px;
    display:inline-block; 
    overflow-y: scroll;
    resize: none;
    overflow:auto;
    color: #404040;
    background: white;
    border: 1px solid;
    border-radius : 2px;
}

#monitor{
    margin-top: 8px;
    height:75%;
    width:80%;
}
#connected{
    display:inline-block;
    width: 80%;
    height: 20%;
}
#response {
    resize:none;
    margin:0% 
    auto 0% 0%;
    padding:1%;
    display:inline;
    width:95%;
    height:5%;
}

#game-frame{
    position:absolute;
    display: inline;
    left:300px;
    width: 850px;
    height: 650px;
    margin:0%;
    padding:0%;
    z-index:2;
}


#display{
    width:100%;
    height:80%;
}
