div#chat {
    width:20%;
    height:100%;
    position:absolute; 
    display: inline;
    left: 0;
    top: 0;
}

div#monitor {
    margin: auto;
    padding:0%;
    height:75%;
    width:95%;
    display:block; 
}

div#response {
    resize:none;
    margin:0% 
    auto 0% 0%;
    padding:1%;
    display:inline;
    width:95%;
    height:5%;
}

div#container{
    position:relative;
    background: red;
    left: 200px;
    top: 0;
    width: 80%;
    height: 500px;
    margin: auto;
    display: inline;
}
